<%- include('../partials/header.ejs'); -%>

<div class="container">
  <main>
  <% notes.forEach(note => { %>
    <div class="card border border-primary h-100" style="max-width: 18rem;">
      <div class="card-body ">
        <h5 class="card-title text-primary">
          <%= note.title %>
        </h5>
        <p class="card-text">
          <%= truncate(note.description) %>
        </p>

        <h6 class="card-title">
          Last Modified : <%= formatDate(note.modified) %>
        </h6>
      </div>
      <div class="card-footer">
        <form action="/delete/<%= note._id %> " method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <a href="/edit/<%= note._id %>" class="btn btn-primary">Read More</a>
          <input class="btn btn-primary" type="submit" value="Delete" />
        </form>
      </div>
    </div>
   
    <% }) %> 

    <a href="/add"> <button type="button" class="btn btn-dark">Add</button> </a>
  </main>
</div>

<%- include('../partials/footer.ejs'); -%>
